---
import { changeLanguage } from "i18next";
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

changeLanguage("da");
---

<Layout title="Juridisk">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Juridisk Information</Fragment>
            <Fragment slot="desc">cisco.pm er ikke tilknyttet Cisco Systems Inc. Alle varemærker og logoer tilhører deres respektive ejere.
                <br><br>
                Ved juridiske spørgsmål, bedes du sende en e-mail til <a href="mailto:legal@cisco.pm" class="text-blue-500">legal@cisco.pm</a>
            </Fragment>
        </Sectionhead>
    </Container>
</Layout>
